body{
    background-color: #E6E3DC;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

canvas{
    position: absolute;
    top: 0;
    z-index: -1;
}

nav{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* height:10%; */
    width: 100vw;
    padding: 32px;
    position: fixed;
}

nav .brand{
    font-size: 24px;
    font-weight: bold;
}

.logo{
    width: 10vh;
}

@keyframes menu {
  0% {
        margin: 0;
    }
  5% {
        width: 0px;
        background-color: transparent;
    }
  10% {       
        margin: 4px 0;
        height:2px;
    }
  50% {
        height:104px;
        width:0px;
    }
  100% {
        margin: 4px 0;
        height:auto;
        width: 200px;
        background-color: transparent;
  }
}

.bar{
    height: 2px;
    background-color: black;
    margin-left: auto;
    width: 100%;
}

.burger-menu{
    height: fit-content;
    margin: auto 0;
    width: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mid-bar{
    height: 2px;
    overflow: hidden;
    background: black;
    margin: 4px 0;
    white-space: nowrap;
    text-align: end;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.burger-menu.open .mid-bar{
    animation-name: menu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.mid-bar li{
    padding: 4px 0;
}

section{
    padding: 4% 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero{
    padding: 8% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 10vw;
    margin-bottom: 96px;
}

.hero-title{
    padding: 0 8%;
    display: flex;
    row-gap: 42px;
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
}

.hero-subtitle{
    font-weight:400;
    width: 100%;
    text-align: start;
}

.of-font-family{
    padding: 0 10%;
    font-family: 'Charm', cursive;
    text-transform: lowercase
}

h2{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    line-height: 200%;
    text-wrap: nowrap;
    text-align: center;
}

.h2-image{
    transform: rotate(284deg);
    width: 16vw;
}

.white{
    background: linear-gradient(180deg, #E6E3DC 0%, #FAF8F3 9.38%, #FAF8F3 89.58%, #E6E3DC 100%);
}

.expertise-side{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
}

.expertise-side p{
    width: 67%;
    text-align: center;
}

.section-title{
    width: 100%;
    position: relative;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.citation-side{
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.citation{
    padding-left: 8%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    column-gap: 5px;
}

.quote{
    color: gray;
    font-size: 28px;
    /* font-family: Verdana, sans-serif; */
}

.citation-side p{
    font-size: 18px;
    margin-bottom: 64px;
    display: inline;
    text-align: center;
}

.profile-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pp{
    width: 66%;
    margin-bottom: 6px;
}

.cti{
    text-align: center;
    margin-bottom: 32px;
}

.comp{
    display: flex;
    justify-content: center;
    position: relative;
}

.form{
    width: 400px;
}

.comp-list{
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    font-size: 20px;
}

.bgs{
    text-align: center;
    margin-bottom: 14px;
}

.sep-line{
    height: 2px;
    width: 20%;
    background-color: black;
    margin-bottom: 4%;
}

.bgs-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
}

.bgs-txt p{
    margin-bottom: 4%;
}

.bug-item-image{
    width: 23%;
}

.bugs-grid{
    margin: 2% 2% 4% 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    row-gap: 22%;
}

.bug-item{
    display: flex;
    column-gap: 6%;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 18px;
    /* line-height: 200%; */
    margin-bottom: 8px;
}

.bug-item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.bug-item-content p{
    color: grey;
}

.int-list{
    text-align: center;
}

.int-list li{
    margin-bottom: 6%;
}

.sep-dot{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sep-dot span{
    margin: 0 1%;
    font-size: 32px;
}


.contact p{
    margin-bottom: 3%;
}

.contact-link{
    text-decoration: underline;
}

.image-metodo{
    margin: 0 0 6% 0;
    width: 60vw;
}

.image-team{
    /* margin: 10% 0; */
    width: 60vw;
}

.h-full{
    height: 100vh;
}
@media (max-width: 1023px) {
    .image-metodo{
        margin: 0 0 8% 0;
        width: 80vw;
    }

    .image-team{
        margin: 10% 0;
    }
}

@media (max-width: 768px) {

    .logo{
        width: 6vh;
    }

    .cti{
        text-wrap:wrap;
    }

    h2{
        font-size: 16px;
    }

    body{
        font-size: 14px;
    }

    .citation-side p{
        font-size: 16px;
    }

    .comp-list{
        font-size: 16px;
    }

    .form{
        width: 58%;
    }

    h1{
        font-size: 8vw;
        margin-bottom: 5%;
    }

    .hero-title{
        width: 100%;
        row-gap: 28px;
    }

    nav{
        padding: 3%;
    }

    .pp{
        width: 46%;
    }

    .citation{
        width: 74%;
        padding: 6%;
    }

    .image-team{
        width: 80vw;
    }

    .contact{
        text-align: center;
    }

    .burger-menu{
        width: 3vw;
    }

    .h-full{
        height: auto;
    }

    .bug-item-content{
        width: 60%;
    }
}

@media (max-width: 426px) {

    .expertise-side p{
        width: 100%;
    }

    .citation{
        padding: 0;
        margin-bottom: 12px;
    }

    .quote{
        font-size: 18px;
    }

    .citation-side {
        flex-direction: column;
    }

    .citation-side p{
        font-size: 14px;
    }

    h2{
        font-size: 14px;
    }

    body{
        font-size: 12px;
    }

    .bug-item-image{
        display: none;
    }

    h3{
        font-size: 14px;
    }

    .hero-subtitle{
        font-size: 12px;
        text-wrap: wrap;
    }

    section{
        padding: 10% 4%;
    }

    .bug-item-content{
        width: 80%;
    }
}